@model TestHotelaria.Models.Hotel

@{
    ViewData["Title"] = "Novo Hotel";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumoHotel" class="control-label"></label>
                <textarea cols="40" role="5" asp-for="ResumoHotel" class="form-control"></textarea>
                <span asp-validation-for="ResumoHotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avaliacao" class="control-label"></label>
                <select asp-for="Avaliacao" class="form-control" asp-items="Html.GetEnumSelectList<Avaliacao>()"></select>
                <span asp-validation-for="Avaliacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comodidade" class="control-label"></label>
                <input asp-for="Comodidade" class="form-control" />
                <span asp-validation-for="Comodidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
