@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao CRUD de Hotéis!</h1>
    <p>Teste aplicado esta no <a href="https://github.com/ExpenseOn/developer-test">Github</a>.</p>
</div>
